<mat-card class="card">
  <mat-card-title>Detalle de la categoria</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>class</mat-icon> <strong>Nombre:</strong> {{category.name}}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button type="button" color="primary" (click)="editCategory()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button type="button" color="primary" (click)="closeCategory()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button type="button" color ="warn" (click)="openDeleteDialog(category.id); $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>