<mat-card>
  <mat-card-title>Charts-Contacts</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div class="chart">
        <p><strong>Initial middlename</strong></p>
        <ngx-charts-bar-vertical [view]="[400, 300]" [results]="initialLetter" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Initial of middlename"
        yAxisLabel="Number of contacts">
        </ngx-charts-bar-vertical>
      </div>
      <div class="chart">
        <p><strong>Length of name</strong></p>
        <ngx-charts-line-chart [view]="[400,300]" [results]="contactsByFullName" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Full Name Length"
        yAxisLabel="Number of contacts"></ngx-charts-line-chart>
      </div>
    </div>
    <div class="chart-row">
      <div class="chart">
        <p><strong>Extensions</strong></p>
        <ngx-charts-pie-chart [view]="[400,300]" [results]="emailExtensions" [labels]="true" [doughnut]="true">
        </ngx-charts-pie-chart>
      </div>
      <div class="chart">
        <p><strong>Prefix</strong></p>
        <ngx-charts-bar-horizontal [view]="[400,300]" [results]="phonePrefixData" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Number of Contacts"
        yAxisLabel="Phone Prefix"></ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Charts-Products</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div class="chart">
        <p><strong>Products by Category</strong></p>
        <ngx-charts-pie-chart [view]="[400,300]" [results]="productsByCategory" [labels]="true" [doughnut]="false">
        </ngx-charts-pie-chart>
      </div>
      <div class="chart">
        <p><strong>Average Price by Category</strong></p>
        <ngx-charts-bar-horizontal [view]="[400,300]" [results]="averagePriceByCategory" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Average price"
        yAxisLabel="Category"></ngx-charts-bar-horizontal>
      </div>
    </div>
    <div class="chart-row">
      <div class="chart">
        <p><strong>Stock by Category</strong></p>
        <ngx-charts-bar-vertical [view]="[400, 300]" [results]="totalStockByCategory" [xAxis]="true" [yAxis]="true"
        [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Category"
        yAxisLabel="Total stock">
        </ngx-charts-bar-vertical>
      </div>
      <div class="chart">
        <p><strong>Products by Price Range</strong></p>
        <ngx-charts-line-chart
          [view]="[400,300]" [results]="productsByPriceRangeData" [xAxis]="true" [yAxis]="true"
          [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Rango de precios"
          yAxisLabel="Numero de Productos"
        ></ngx-charts-line-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
