<mat-card class="card">
  <mat-card-title>Detalle del contacto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>person</mat-icon> <strong>Nombre:</strong> Peter
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Apellido:</strong> Griffin
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Segundo apellido:</strong> Smith
    </p>
    <p>
      <mat-icon>phone</mat-icon> <strong>Telefono:</strong> 654654654
    </p>
    <p>
      <mat-icon>email</mat-icon> <strong>Email:</strong> peterg@hotmail.com
    </p>
  </mat-card-content>
</mat-card>
